.form {
  input,
  button {
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    border-radius: .5rem;
  }
  div:last-child {
    display: flex;
    justify-content: center;
    button {
      border-radius: 0.5rem;
      padding: 1rem;
      &:hover {
        color: #322653;
        background-color:#FFD2D7;
      }
    }
  }
}
