.list {
   
  input {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  ul{
    margin-top: .4rem;
    padding: .3rem;
    background-color:#FFD2D7 ;
    color: #322653;
    border-radius: 0.5rem;
     li {
    margin: 0.3rem 0rem;
  }
  }
 
  p{
    margin: 0.3rem 0rem;
    color:#FFD2D7;
  }
}
